.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5% 3% 5%;
}
.link {
  display: flex;
  gap: 45px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  .active {
    text-decoration: none;
    color: black;
  }
  .active:hover {
    text-decoration: underline;
  }
  .active2{
    text-decoration: none;
  }
}
@media(max-width: 519px){
  .header{
    img{
      width: 145px;
      height: 46.88px;
    }
    .link{
      font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 17.11px;
text-align: right;

    }
  }
}