.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  .mountain {
    width: 90%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .title {
    position: absolute;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 68.45px;
    color: #fff;
    text-align: center;
    margin-inline: 30px;
  }
  br {
    display: none;
  }
}
@media (max-width: 769px) {
  .container {
    height: 111px;
    margin-top: 27px;

    .title {
      position: absolute;
      font-family: Montserrat;
      font-size: 24px;
      line-height: 24px;
      left: 40px;
      top: 32px;
      text-align: left;
      margin: 0;
    }
    br {
      display: block;
    }
  }
  .container-plug {
    display: flex;
    align-items: flex-start;
    height: 0%;
    margin-top: 20px;
    .mountain {
      height: 111px;
    }
    .location {
      margin-top: 0;
    }
  }
}
