.container-fiche {
  display: flex;
  justify-content: space-between;
  margin: 30px 103px 20px 103px;

  article {
    display: flex;
    flex-direction: column;
  }

  .title-fl {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    color: #ff6060;
    margin: 0;
  }

  .location {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: black;
    margin-right: 20px;
  }

  figcaption {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  figure {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #ff6060;
    margin-bottom: 21px;
    margin-top: 4px;
  }

  .image-host {
    width: 64px;
    height: 64px;
    margin-left: 11px;
    border-radius: 63px;
  }
}
.container-collapses {
  margin-inline: 100px;
  .collapses {
    width: 100%;
    display: flex;
    gap: 76px;

    .collapse {
      display: flex;
      width: 100%;
    }
    .toggle {
      width: 100%;
    }
    button {
      width: 100%;
      margin: 0;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 25.67px;
    }
  }
}

@media (max-width: 760px) {
  .container-fiche {
    flex-direction: column;
    margin: 15px 0 0 20px;
    article {
      align-items: flex-start;
    }

    .img-info {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    figure {
      margin-right: 20px;
    }
  }
  .container-collapses {
    margin-inline: 20px;
    .collapses {
      flex-direction: column;
      gap: 20px;

      .toggle {
        width: 100%;
        padding: 0;
        overflow: hidden;
      }
    }
  }
}
