.stars-container {
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.filled-star {
  color: #ff6060;
}
.empty-star {
  color: #e3e3e3;
}
.img-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 760px) {
  .stars-container {
    font-size: 18px;
  }
}
